<h1> Welcome to <%= title %> Dashboard</h1>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>
<!--<% for (var header in headers){ %>
  <li><%= header %>: <%= headers[header] %></li>
<% } %>-->
<!-- Icon Cards-->
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa-solid fa-microchip"></i>
        </div>
        <div class="mr-5"><%= devicesCount %> Devices</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/devices">
        <span class="float-left">View or Create Devices</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa-solid fa-chart-area"></i>
        </div>
        <div class="mr-5"><%= chartsCount %> Charts</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="/charts">
        <span class="float-left">Create Charts</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>